.dashboard-root {
    display: flex;
    flex-direction: column;
}

.dashboard-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: aqua;
    border: 1px solid black;
    margin: 8px;
}

.dashboard-widget {
    display: flex;
    flex-grow: 1;
    background-color: greenyellow;
    border: 1px solid black;
    margin: 8px;
}